WORDSTAT_OAUTH_TOKEN=replace_with_real_token
WORDSTAT_API_KEY=your_wordstat_api_key
WORDSTAT_BASE_URL=https://api.direct.yandex.com
WORDSTAT_ENDPOINT=/json/v5/wordstat
WORDSTAT_TIMEOUT_SECONDS=10
REQUEST_LOG_LEVEL=INFO
DEBUG=false
