WORDSTAT_OAUTH_TOKEN=replace_with_real_token
WORDSTAT_BASE_URL=https://api.wordstat.yandex.net
WORDSTAT_TIMEOUT_SECONDS=10
WORDSTAT_API_KEY=your_wordstat_api_key
WORDSTAT_ENDPOINT=/json/v5/wordstat
REQUEST_LOG_LEVEL=INFO
DEBUG=false

DIRECT_LOGIN=
DIRECT_PASSWORD=
DIRECT_COOKIES_PATH=.direct/cookies.json
DIRECT_DEFAULT_REGION=Москва
DIRECT_HEADLESS=true
DIRECT_TIMEOUT_SECONDS=30
